.chatMessages {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: absolute;
  top: 10rem;
  bottom: 5rem;
  left: 0;
  right: 0;
  overflow-y: scroll;
  padding: 0 3vh;
}
