.chatRoom {
  margin: 9vh 0 0 14rem;
  width: calc(100vh- 14rem);
  height: calc(100vh- 11vh);
  overflow: hidden;
  position: relative;
}
.mainBG {
  background: linear-gradient(
    100.39deg,
    rgba(127, 189, 192, 0.9) -44.49%,
    rgba(170, 216, 211, 0.1) 204.46%
  );
  height: 91vh;
  position: relative;
  z-index: -3;
}

.circle1 {
  position: absolute;
  width: 1200px;
  height: 1200px;
  border-radius: 50%;
  background: radial-gradient(
    25.23% 25.23% at 44.53% 50.11%,
    #74d1d6 0%,
    rgba(170, 216, 211, 0) 100%
  );
  right: -18rem;
  bottom: -17rem;
  z-index: -3;
}

.circle2 {
  width: 550px;
  height: 550px;
  z-index: -3;
  border-radius: 50%;
  position: absolute;
  background: radial-gradient(
    43.71% 43.71% at 44.53% 50.11%,
    #74d1d6 0%,
    rgba(170, 216, 211, 0) 100%
  );
}
.transparentLayer {
  width: 100%;
  z-index: -7;
  height: 100%;
  opacity: 0.2;
  background: rgba(170, 216, 211, 0.1);
  border: 0.5px solid rgba(0, 0, 0, 0.3);
  filter: blur(10px);
}
