.dropDownBox {
  position: absolute;
  bottom: 0;
  transform: translateY(98%);
  right: 1.5rem;
  background-color: transparent;
  padding: 1vh 0rem;
  border-radius: 0.4rem;
  width: 130%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  ul {
    width: 75%;
    li {
      font-size: 1rem;
      transition: all 0.3s ease-out;
      border-radius: 0.4rem;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0.5rem 0;
      list-style: none;
      background: var(--primaryColor);

      box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.5);
      padding: 0.7vh 0.15rem;
    }
    li:hover {
      background-color: var(--secondaryColor);
      box-shadow: 0px 10px 10px rgba(0, 0, 0, 1);
      opacity: 0.8;
    }
  }
}
