@import "./loggedComponents/app.scss";
@import "./notLoggedComponents/app.scss";
@import "./background.scss";

:root {
  --primaryColor: #aad8d3;
  --secondaryColor: #00adb5;
  --dark: #393e46;
  --light: #eeeeee;
  --primaryFamily: "Poppins", sans-serif;
  --secondaryFamily: "Lobster", cursive;
}
*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

h2 {
  font-family: "lobster", cursive;
  font-size: 2rem;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 1000000000px;
  background-color: var(--secondaryColor);
}
